
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>CAMT Movie Tickets</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style>
    * {
      font-family: 'Prompt', sans-serif;
    }

    .row-name {
      display: inline-block;
      width: 60px;
    }

    .seat {
      display: inline-block;
      width: 44px;
      text-align: center;
      font-size: 24px;
    }

    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    a:active {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="h3 justify-content-center mt-5" style="text-align: center;">เลือกที่นั่ง</div>

  <div class="container-fluid bg-white p-4" style="border: 0px solid red">
    <!-- Movie details -->
    <div class="container mt-3">
      <div class="row">
        <div class="d-flex col-sm-6 justify-content-center justify-content-sm-end">
          <img class="shadow" src="https://3bugs.com/online-tickets/images/movie02.jpg" style="width: 240px;">
        </div>
        <div class="col-sm-6">
          <div class="h5 text-primary fw-bold my-3">บาร์บี้</div>
          <div class="h6">หมวดหมู่: Adventure, Comedy, Fantasy</div>
          <div class="h6">เรท: G</div>
          <div class="h6"><i class="fa-regular fa-clock"></i> 115 นาที</div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="margin-bottom: 80px">
      <div class="row mt-5">
        <div class="col-12 col-xl-9">
          <div class="row text-center">
            <div class="col">
              <span class="text-center bg-light" style="display: inline-block; width: 500px;">จอภาพยนตร์</span>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="container mt-4">
              <!-- ที่นั่งแถว A -->
              <div class="row justify-content-center">
                <span class="text-center h4 mt-1 row-name">
                  A
                </span>
                <span class="p-0 my-0 seat" style="cursor: pointer; color: lightgrey">
                  <i class="fa-solid fa-couch"></i>
                </span>
                <span class="p-0 my-0 seat" style="cursor: pointer; color: lightgrey">
                  <i class="fa-solid fa-couch"></i>
                </span>
                <span class="p-0 my-0 seat" style="cursor: pointer; color: green">
                  <i class="fa-solid fa-circle-check"></i>
                </span>
                <span class="p-0 my-0 seat" style="cursor: pointer; color: green">
                  <i class="fa-solid fa-circle-check"></i>
                </span>
                <span class="p-0 my-0 seat" style="cursor: default; color: tomato">
                  <i class="fa-solid fa-circle-xmark"></i>
                </span>
                <span class="p-0 my-0 seat" style="cursor: default; color: tomato">
                  <i class="fa-solid fa-circle-xmark"></i>
                </span>
              </div>

              <!-- ที่นั่งแถว B -->
              <div class="row justify-content-center">
                <span class="text-center h4 mt-1 row-name">
                  B
                </span>
                <span class="p-0 my-0 seat" style="cursor: pointer; color: lightgrey">
                  <i class="fa-solid fa-couch"></i>
                </span>
                <span class="p-0 my-0 seat" style="cursor: pointer; color: lightgrey">
                  <i class="fa-solid fa-couch"></i>
                </span>
                <span class="p-0 my-0 seat" style="cursor: pointer; color: green">
                  <i class="fa-solid fa-circle-check"></i>
                </span>
                <span class="p-0 my-0 seat" style="cursor: pointer; color: green">
                  <i class="fa-solid fa-circle-check"></i>
                </span>
                <span class="p-0 my-0 seat" style="cursor: default; color: tomato">
                  <i class="fa-solid fa-circle-xmark"></i>
                </span>
                <span class="p-0 my-0 seat" style="cursor: default; color: tomato">
                  <i class="fa-solid fa-circle-xmark"></i>
                </span>
              </div>

              <!-- เลขที่นั่ง -->
              <div class="row justify-content-center">
                <span class="text-center h4 mt-1 row-name">
                </span>
                <span class="p-0 my-0 seat">
                  <span class="mt-2" style="display: inline-block; color: black">1</span>
                </span>
                <span class="p-0 my-0 seat">
                  <span class="mt-2" style="display: inline-block; color: black">2</span>
                </span>
                <span class="p-0 my-0 seat">
                  <span class="mt-2" style="display: inline-block; color: black">3</span>
                </span>
                <span class="p-0 my-0 seat">
                  <span class="mt-2" style="display: inline-block; color: black">4</span>
                </span>
                <span class="p-0 my-0 seat">
                  <span class="mt-2" style="display: inline-block; color: black">5</span>
                </span>
                <span class="p-0 my-0 seat">
                  <span class="mt-2" style="display: inline-block; color: black">6</span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="shadow col-12 col-xl-3 bg-light mt-4 pt-4 px-sm-4">
          <div class="fw-bold mb-3">บาร์บี้</div>
          <ul>
            <li>
              <div class="my-2">รอบเวลา 14:15 น.</div>
            </li>
            <li>
              <div class="my-2">โรงภาพยนตร์ 2</div>
            </li>
            <li>
              <div class="my-2"><i class="fa-solid fa-couch" style="color: gray"></i>&nbsp;180 บาท</div>
            </li>
          </ul>
          <div class="bg-white my-4 p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
            <div class="text-center mt-1 mb-2">
              ที่นั่งที่เลือก
              <span class="text-primary">
                (4)
              </span>
            </div>
            <div class="h4 text-center text-primary mb-3">
              A3, A4, B3, B4
            </div>
            <div class="text-center mb-2">
              ราคารวม
            </div>
            <div class="h4 text-center text-primary">
              720 บาท
            </div>
          </div>
          <button type="button" class="btn btn-success w-100 mt-2 mb-4">
            ชำระเงิน
          </button>
        </div>
      </div>
    </div>
  </div>

  <footer class="text-center bg-dark text-white">
    
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>
