<div class="container mt-3">
    <div class="row">
      <div class="d-flex col-sm-6 justify-content-center justify-content-sm-end">
        <img class="shadow" src="https://3bugs.com/online-tickets/images/movie02.jpg" style="width: 240px;">
      </div>
      <div class="col-sm-6">
        <div class="h5 text-primary fw-bold my-3">บาร์บี้</div>
        <div class="h6">หมวดหมู่: Adventure, Comedy, Fantasy</div>
        <div class="h6">เรท: G</div>
        <div class="h6"><i class="fa-regular fa-clock"></i> 115 นาที</div>
      </div>
    </div>
  </div>

  